body{
  transition: all 0.3s ease 0s;
  background: #eefaff;
}

.colorPallet{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

@media (min-width: 900px){
  .mobile{
    display: none;
  }
}
@media (max-width: 900px){
  .desktop{
    display: none;
  }
}
